<nav>
  <button
    class="button"
    mat-raised-button
    routerLink="/login"
    routerLinkActive="activebutton"
  >
    IAM Login
  </button>

  <button
    class="button"
    mat-raised-button
    routerLink="/login-success"
    routerLinkActive="activebutton"
  >
    Verify IAM
  </button>

  <button
    class="button"
    mat-raised-button
    routerLink="/create-dashboard"
    routerLinkActive="activebutton"
  >
    Create Dashboard
  </button>
  |
  <button
    class="button"
    mat-raised-button
    routerLink="/folders-and-dashboards"
    routerLinkActive="activebutton"
  >
    Folders and Dashboards
  </button>
</nav>
<router-outlet></router-outlet>
