<p>folders-and-dashboards works!</p>
<div>
  <button
    style="margin-left: 20px"
    mat-raised-button
    color="primary"
    (click)="showFolders()"
  >
    get folders
  </button>
  <span *ngIf="folders != []">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="showDashboards(folder)"
        *ngFor="let folder of folders"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ folder.id }} </mat-panel-title>
          <mat-panel-description>
            {{ folder.title }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span *ngIf="folder.dashboards; else no_dashboards">
          <h2 *ngFor="let dashboard of folder.dashboards">
            dashboard title: {{ dashboard.title }}
          </h2>
        </span>
        <ng-template #no_dashboards>no dashboards</ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </span>
  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
        <mat-panel-description>
          Currently I am {{ panelOpenState ? "open" : "closed" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion> -->
</div>
